.typeWritter{
    font-size: 50px;
    color: aliceblue;
}
.Area1{
    padding-top: 30vh;
}
.login-form{
    margin-left: 42%;
    width: 300px;
}
.text-muted{
    color: red !important; 
}
.dataForm{
    width: 30%;
    padding-top: 20%;
    margin-left: 37%;

}
