.typeWritter{
    font-size: 50px;
    color: aliceblue;
}
.Area1{
    padding-top: 20vh;
}
.login-form{
    margin-left: 42%;
    width: 300px;
}
.text-muted{
    color: red !important; 
}
.dataForm{
    width: 30%;
    padding-top: 10%;
    margin: auto;
}
.home-social-links{
    position: relative;
    margin-top: 30px;
    animation: 4s fadeIn;
  animation-fill-mode: forwards;
  
  /* visibility: hidden; */
  opacity: 0;
}

/* .home-social-links:hover {
  background-color: #123;
} */

@keyframes fadeIn {
  80% {
    opacity: 0;
  }
  100% {
    /* visibility: visible; */
    opacity: 1;
  }
}
